*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary-color-yellow: hsl(47, 88%, 63%);
  --neutral-color-white: hsl(0, 0%, 100%);
  --neutral-color-gray: hsl(0, 0%, 50%);
  --neutral-color-black: hsl(0, 0%, 7%);
}

body {
  color: black;
  font-family: Figtree, sans-serif;
  font-size: 1.6rem;
}

.container {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  padding: 24px 0 48px 0;
  background-color: var(--primary-color-yellow);
}

main.card {
  width: 384px;
  margin: 0 auto;
  padding: 24px;

  border: 1px solid var(--neutral-color-black);
  border-radius: 20px;
  box-shadow: 12px 12px 0 var(--neutral-color-black);
  background-color: var(--neutral-color-white);

  div.card__image {
    width: 336px;
    height: 200px;
    img {
      height: 100% !important;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  div.card__info {
    margin-top: 20px;

    button.category {
      padding: 4px 12px;
      border: none;
      border-radius: 4px;
      background-color: var(--primary-color-yellow);
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1.5em;
    }

    p.publish-date {
      margin: 0.9em 0;
      font-size: 1.4rem;
      font-weight: 500;
    }

    h1.title {
      margin: 0.5em 0;
      font-size: 2.4rem;

      &:hover {
        color: var(--primary-color-yellow);
      }
    }

    p.description {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.5;
      color: var(--neutral-color-gray);
    }

    section.author {
      margin-top: 1.5em;
      display: flex;
      align-items: center;
      gap: 1rem;

      img.author__avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      p.author__name {
        font-weight: 700;
        font-size: 1.4rem;
      }
    }
  }
}

/* Mobile Styling */
@media (max-width: 600px) {
  main.card {
    width: 327px;
    box-shadow: 8px 8px 0 var(--neutral-color-black);

    div.card__image {
      width: 279px;
    }

    div.card__info {
      button.category {
        font-size: 1.2rem;
        font-weight: 800;
      }

      p.publish-date {
        font-size: 1.2rem;
      }

      h1.title {
        font-size: 2rem;
        font-weight: 800;
      }

      p.description {
        font-size: 1.4rem;
      }
    }
  }
}

footer.attribution {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 48px auto 0 auto;
  font-size: 1rem;

  .attribution {
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
