*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: Figtree, sans-serif;
  color: black;
}

.container {
  max-width: 1440px;
  min-width: 375px;
  padding: 24px 0 48px 0;
  background-color: hsl(47, 88%, 63%);
}

main.card {
  max-width: 384px;
  min-width: 327px;
  margin: 0 auto;
  padding: 24px;

  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 20px;
  /* add black border shadow right and bottom */
  box-shadow: 12px 12px 0 hsl(0, 0%, 7%);
  background-color: hsl(0, 0%, 100%);

  div.card__image {
    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }

  div.card__info {
    margin: 24px 0;

    button.category {
      width: 73px;
      height: 26px;
      padding: 4px 12px;
      border: none;
      border-radius: 4px;
      background-color: hsl(47, 88%, 63%);
    }

    p.publish-date {
      font-size: 1.2rem;
      font-weight: 800;
      line-height: 1.5;
    }

    h1.title {
      font-size: 2rem;
      line-height: 1.5;

      &:hover {
        color: hsl(47, 88%, 63%);
      }
    }

    p.description {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.5;
      color: hsl(0, 0%, 50%);
    }

    section.author {
      display: flex;
      align-items: center;
      gap: 1rem;

      img.author__avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      p.author__name {
        font-weight: 700;
        font-size: 1.4rem;
      }
    }
  }
}

footer.attribution {
  outline: 2px dashed red;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 48px auto 0 auto;

  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
